
.contact {
  @include side-paddings;

  padding-bottom: 80px;

  color: #FFF;

  background-color: $dark-bg-color;

  &__title {
    @include margin-reset(48px);

    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
  }

  &__subtitle {
    @include margin-reset(8px);

    font-size: 13px;
    font-weight: 700;
    letter-spacing: 3px;
    opacity: 0.5;
    text-transform: uppercase;
  }

  &__text {
    @include margin-reset(40px);

    font-family: 'Open Sans', serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
  }

  &__socials {
    display: flex;
    gap: 32px;

    &-link {
      display: flex;

      width: 32px;
      height: 32px;

      background-repeat: no-repeat;
      background-position: center;

      &--facebook {
        background-image: url(../images/social-icons/facebook.png);
      }

      &--twitter {
        background-image: url(../images/social-icons/twitter.png);
      }

      &--instagram {
        background-image: url(../images/social-icons/instagram.png);
      }
    }
  }
}
