
.expertise {
  @include side-paddings;

  margin-bottom: 120px;
  padding-top: 72px;
  padding-bottom: 72px;

  display: flex;
  flex-direction: column;
  gap: 56px;
  text-align: center;

  background-color: #fff;
  border-radius: 30px;

  &__title {
    margin: 0;

    font-size: 44px;
    font-weight: 600;
    line-height: 120%;

    color: $title-color;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 56px;

    &-card {
      margin: 0;
      display: flex;
      flex-direction: column;

      &-image {
        width: 184px;
        height: 166px;

        align-self: center;

        margin-bottom: 32px;

        border-radius: 16px;
      }

      &-description {
        display: flex;
        flex-direction: column;

        &-title {
          @include margin-reset(16px);

          font-size: 20px;
          font-weight: 600;
          line-height: 140%;

          color: $title-color;
        }

        &-text {
          margin: 0;

          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 150%;

          color: $text-color;
        }
      }
    }

  }

}

@media (min-width: 321px) {
  .expertise {
    @include side-paddings(41px, 41px);

    padding-top: 128px;
    padding-bottom: 128px;
    margin-bottom: 148px;

    &__title {
      font-size: 52px;
      line-height: 150%;
    }

    &__cards {
      gap: 72px;

      &-card {
        &-description {
          &-text {
            align-self: center;
            width: 67%;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .expertise {
    @include side-paddings(54px, 54px);

    margin-bottom: 148px;
    padding-top: 128px;
    padding-bottom: 134px;

    &__cards {
      flex-direction: row;
      gap: 137px;

      &-card {
        &-image {
          margin-bottom: 40px;
        }

        &-description {
          &-text {
            width: 106%;
          }
        }
      }
    }
  }
}
