.header {
  display: flex;
  align-items: center;
  gap: 32px;

  padding: 20px 20px 46px;

  max-width: 100%;

  background-color: $dark-bg-color;

  &__menu {
    @include link-normalize;

    display: flex;
    align-self: center;
  }

  &__hire {
    @include link-normalize;

    text-transform: uppercase;
    letter-spacing: 3px;

    margin-left: auto;

    font-weight: 700;
    line-height: 150%;

    color: #FFF;
  }
}

@media (min-width: 640px) {
  .header {
    padding: 21px 41px 56px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 52px 54px 96px;

    &__logo {
      display: none;
    }

    &__hire {
      padding-top: 3px;
      display: flex;
      flex-wrap: wrap;
      font-size: 13px;
      z-index: 1;
      align-content: end;
    }

    &__menu {
      display: none;
    }
  }
}

@media (min-width: 1600px) {
  .header {
    padding: 52px 227px 168px;


    &__logo {
      display: none;
    }

    &__hire {
      padding-top: 3px;
      display: flex;
      flex-wrap: wrap;
      font-size: 13px;
      z-index: 1;
      align-content: end;
    }

    &__menu {
      display: none;
    }
  }
}
