.icon {
  display: block;
  height: 24px;
  width: 24px;

  &--phone:hover {
    transform: scale(130%);
    transition: all 0.5s ease-in-out;
  }

  &--close {
    background-image: url(../images/icons/icon-close-mobile.png);
  }

  &--close:hover {
    transform: scale(130%);
    transition: all 0.5s ease-in-out;
  }
}

@media (min-width: 1024px) {
  .icon {
    &--close {
      display: none;
    }
  }
}
