
.intro {
  @include side-paddings;

  padding-bottom: 30px;

  max-width: 100%;

  background-color: $dark-bg-color;
  color: #FFF;

  &__title {
    @include margin-reset(32px);

    font-size: 52px;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 120%;
  }

  &__subtitle {
    @include margin-reset(72px);

    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
  }

  &__learn-more {
    @include link-normalize;
    @include margin-reset(48px);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;
    font-weight: 600;

    width: 100%;
    height: 50px;

    border-radius: 8px;

    background-color: $active-color;
  }
}

@media (min-width: 640px) {
  .intro {
    @include side-paddings(41px, 41px);

    &__title {
      @include margin-reset(24px);

      word-break: normal;
      font-size: 64px;
      line-height: 68px;
    }

    &__subtitle {
      @include margin-reset(72px);

      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 150%;

      width: 362px;
    }

    &__learn-more {
      width: 264px;
    }
  }
}

@media (min-width: 1024px) {
  .intro {
    @include side-paddings(54px, 54px);

    padding-bottom: 30px;
    padding-right: 30px;
    padding-top: 72px;

    width: 57vw;
    height: 646px;
    border-bottom-left-radius: 30px;

    &__title {
      margin-bottom: 32px;

      width: 62%;
    }

    &__subtitle {
      margin-bottom: 83px;
    }
  }
}
