.menu {
  @include side-paddings;

  padding-top: 20px;

  box-sizing: border-box;
  height: 100vh;

  font-weight: 700;
  text-transform: uppercase;

  background-color: $dark-bg-color;

  &--footer {
    height: 100%;
  }

  &--aside {
    overflow: hidden;
    position: relative;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 0;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    position: sticky;
    top: 0;
  }

  &__logo {
    display: flex;
    justify-content: start;
    align-items: center;

    height: 28px;
    width: 46px;
  }
}

.nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: flex;
  }

  &__link {
    @include link-normalize;

    border-bottom: 1px solid transparent;

    font-size: 13px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 3px;
    color: #FFF;
    text-transform: uppercase;

    &:hover {
      border-bottom: 1px solid #fff;
      transition: all 0.5s ease-in-out;
    }
  }
}

@media (min-width: 640px) {
  .menu {
    @include side-paddings(41px, 41px);

    &--footer {
      .nav {
        &__list {
          flex-direction: row;
          gap: 40px;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .menu {
    height: 0;
    padding-top: 0;

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0;
      top: 0;
    }

    &__content {
      position: absolute;
      left: 54px;
      flex-direction: row;
      width: 71vw;

      &--footer {
        gap: 233px;
      }

      .nav {
        &__list {
          flex-direction: row;
          justify-content: center;
          gap: 48px;
          width: 100%;

          &--footer {
            gap: 64px;
          }
        }
      }
    }
  }
}

@media (min-width: 1600px) {
  .menu {
    &__content {
      &--top {
        left: 227px;
        width: 54vw;
      }

      &--footer {
        left: 227px;
        width: 70vw;
        gap: 453px;
      }

      .nav {
        &__list {
          flex-direction: row;
          justify-content: center;
          gap: 48px;
          width: 100%;

          &--footer {
            gap: 64px;
          }
        }
      }
    }
  }
}

@media (min-width: 2560px) {
  .menu {
    &__content {
      &--top {
        left: 707px;
        width: 34vw;
      }

      &--footer {
        left: 707px;
        width: 44vw;
        gap: 463px;
      }

      .nav {
        &__list {
          flex-direction: row;
          justify-content: center;
          gap: 48px;
          width: 100%;

          &--footer {
            gap: 64px;
          }
        }
      }
    }
  }
}
