
.testimonials {
  @include side-paddings;

  margin-bottom: 120px;

  display: flex;
  flex-direction: column;

  &__subtitle {
    margin: 0;
    margin-bottom: 16px;

    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 3px;

    color: $subtitle-color;
  }

  &__title {
    @include margin-reset(48px);

    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    text-wrap: nowrap;

    color: $title-color;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      padding: 32px 42px;

      border-radius: 16px;

      background-color: #fff;

      &-wrapper {
        margin-bottom: 24px;

        &-avatar {
          position: relative;
          width: fit-content;

          border-radius: 50%;
          z-index: 1;
        }

        &::before {
          display: block;
          content: '';

          border-radius: 12px;

          width: 109px;
          height: 44px;
          background-color: $active-color;

          transform: rotate(-60deg) translate(-50%, -20%);
        }

        &::after {
          display: block;
          content: '';

          border-radius: 12px;

          width: 109px;
          height: 44px;
          background-color: $active-color;

          transform: rotate(-60deg) translate(60%, 20%);
        }
      }

      &-review {
        @include margin-reset(16px);

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        font-family: 'Open Sans', serif;
        font-size: 13px;
        font-weight: 600;
        line-height: 150%;
        color: $text-color;

        &::before {
          display: block;
          margin-bottom: 8px;

          content: '';

          width: 24px;
          height: 24px;

          background-image: url(../images/testimonial-cards/quote.png);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
      }

      &-name {
        @include margin-reset(4px);

        margin-top: auto;
        font-family: 'Open Sans', serif;
        font-size: 13px;
        font-weight: 600;
        line-height: 150%;
        color: $title-color;
      }

      &-company {
        margin: 0;

        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 3px;
        text-wrap: nowrap;

        color: $subtitle-color;

        // align-self: flex-start;
      }
    }
  }
}

@media (min-width: 640px) {
  .testimonials {
    @include side-paddings(41px, 41px);

    margin-bottom: 148px;

    &__title {
      @include margin-reset(56px);

      width: 10%;
      text-wrap: wrap;
    }

    &__cards {
      &-card {
        padding: 32px 98px;

        &-wrapper {
          &::before {
            width: 139px;
            height: 56px;

            transform: rotate(-60deg) translate(-49%, -26%);
          }

          &::after {
            width: 139px;
            height: 54px;

            transform: rotate(-60deg) translate(53%, 26%);
          }
        }

        &-review {
          &::before {
            margin-bottom: 18px;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .testimonials {
    @include side-paddings(54px, 54px);

    margin-bottom: 186px;

    &__title {
      @include margin-reset(85px);
    }

    &__cards {
      flex-direction: row;
      justify-content: space-between;

      &-card {
        padding: 32px 48px;

        height: 392px;
        width: 194px;

        &-wrapper {
          margin-bottom: 8px;

          &::before {
            width: 109px;
            height: 44px;

            transform: rotate(-60deg) translate(-50%, -20%);
          }

          &::after {
            width: 109px;
            height: 44px;

            transform: rotate(-60deg) translate(60%, 20%);
          }
        }
      }
    }
  }
}
