
.vision {
  @include side-paddings;

  display: flex;
  flex-direction: column;

  padding-block: 72px;
  margin-bottom: 120px;

  text-align: center;
  align-items: center;

  background-color: #fff;

  &__title {
    @include margin-reset(24px);

    font-size: 44px;
    font-weight: 600;
    line-height: 120%;
    color: $title-color;
  }

  &__subtitle {
    @include margin-reset(56px);

    font-family: 'Open Sans', serif;
    font-size: 22px;
    font-weight: 600;
    color: $text-color;
  }

  &__link {
    @include link-normalize;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 56px;

    border-radius: 8px;

    font-size: 15px;
    font-weight: 600;
    color: #FFF;

    background-color: $active-color;
  }
}


@media (min-width: 640px) {
  .vision {
    @include side-paddings(41px, 41px);
    @include margin-reset(-30px);

    padding-top: 200px;
    padding-bottom: 0;

    background-image: url(../images/vision/vision-bg-mobile.png);
    background-repeat: no-repeat;
    background-position: bottom 73% right 0;
    background-size: 100%;

    &__title {
      @include margin-reset(24px);

      font-size: 52px;
    }

    &__subtitle {
      @include margin-reset(64px);

      font-size: 24px;
    }

    &__link {
      @include margin-reset(230px);

      width: 264px;
    }
  }
}
