@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin link-normalize() {
  text-decoration: none;
  color: inherit;
}

@mixin side-paddings($l:20px, $r:20px) {
  padding-left: $l;
  padding-right: $r;
}

@mixin margin-reset($mb) {
  margin: 0;
  margin-bottom: $mb;
}

@mixin side-paddings-320() {
  padding-left: 41px;
  padding-right: 41px;
}
