@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin link-normalize() {
  text-decoration: none;
  color: inherit;
}

@mixin side-paddings() {
  padding-left: 20px;
  padding-right: 20px;
}

@mixin margin-reset($mb) {
  margin: 0;
  margin-bottom: $mb;
}
